<nav>
    <ul>
        <li>
            <a href="{AbsolutePath}index.html">
                <span>
                    <span>Home</span>
                    <i class="underline"></i>
                </span>
            </a>
        </li>
        <li>
            <a href="{AbsolutePath}about_me.html">
                <span>
                    <span>About Me</span>
                    <i class="underline"></i>
                </span>
            </a>
        </li>
        <li>
            <a href="{AbsolutePath}wdd_130\wwr\site-plan-rafting.html">
                <span>
                    <span>Site Plan Rafting</span>
                    <i class="underline"></i>
                </span>
            </a>
        </li>
    </ul>
</nav>
