<nav>
    <ul>
        <li>
            <a href="{AbsolutePath}index.html">
                <span>
                    <span>Home</span>
                    <i class="underline"></i>
                </span>
            </a>
        </li>
        <li>
            <a href="{AbsolutePath}about_me.html">
                <span>
                    <span>About Me</span>
                    <i class="underline"></i>
                </span>
            </a>
        </li>
        <li>
            <div class="dropdown">
                <a class="dropdown-btn">
                    <span>
                        <span>Class Pages</span>
                        <i class="underline"></i>
                    </span>
                </a>
                <div class="dropdown-content">
                    <div class="dropdown">
                        <a class="dropdown-btn">
                            <span>
                                <span>Semester 3</span>
                                <i class="underline"></i>
                            </span>
                        </a>
                        <div class="dropdown-content">
                            <a href="{AbsolutePath}semester_3/cse_170/index.html">
                                <span>
                                    <span>CSE 170</span>
                                    <i class="underline"></i>
                                </span>
                            </a>
                            <a href="{AbsolutePath}semester_3/wdd_130/index.html">
                                <span>
                                    <span>WDD 130</span>
                                    <i class="underline"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</nav>
