<variable name="PageTitle" value="CSE 170" />
<h2 class="text-center">Hello Professor Clements</h2>
<p class="text-center">My most recent assignments are listed first.</p>
<hr />
<div class="m-b-md">
    <h6 class="inline">Week 05 Reflection:</h6>
    <a href="files/Week_05_Reflection.docx">Week_05_Reflection.docx</a>
</div>
<div class="m-b-md">
    <h6 class="inline">User Manual Draft:</h6>
    <a href="files/User_Manual.docx">User_Manual.docx</a>
</div>
<div class="m-b-md">
    <h6 class="inline">Week 04 Reflection:</h6>
    <a href="files/Week_04_Reflection.docx">Week_04_Reflection.docx</a>
</div>
<div class="m-b-md">
    <h6 class="inline">Week 03 Reflection:</h6>
    <a href="files/Week_03_Reflection.docx">Week_03_Reflection.docx</a>
</div>
<div class="m-b-md">
    <h6 class="inline">Week 02 Reflection:</h6>
    <a href="files/Week_02_Reflection.docx">Week_02_Reflection.docx</a>
</div>
<div class="m-b-md">
    <h6 class="inline">Week 01 Reflection:</h6>
    <a href="files/Week_01_Reflection.docx">Week_01_Reflection.docx</a>
</div>